body {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  box-sizing: border-box;
}

/**
* Library
*/
.library__container {
  margin: 0 auto;
  display: flex;
  background-color: purple;
  flex-wrap: wrap;
  padding: 10px;
  /* justify-content: center;
  align-items: center; */
}

.library__container h1 {
  color: white;
  font-size: 2rem;
  width: 100%;
  /* text-align: center; */
}

.library__list {
  display: flex;
  background-color: lightblue;
  border-radius: 6px;
  padding: 18px;
  gap: 8rem;
  justify-content: center;
  align-items: center;
}

.library__criteria ul li {
  font-size: 1.5rem;
  list-style: none;
}

.library__add {
  padding: 16px 10px;
  border-radius: 8px;
  background-color: burlywood;
  cursor: pointer;
}

/**
* Book
*/
.library__book {
  background-color: white;
  display: flex;
}

/**
* Modal
*/
.library__modal {
  display: flex;
  background-color: rgb(195, 195, 255);
  padding: 40px;
  width: max-content;
}

.library__modal__content {
  display: flex;
  flex-direction: column;
}

.library__modal__content input {
  padding: 3px;
  margin: 7px;
}

.library__modal__content button {
  margin: 7px;
  padding: 4px;
}

.modal__submit__add {
  background-color: green;
  cursor: pointer;
}
.modal__submit__cancel {
  background-color: pink;
  cursor: pointer;
}
